.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end; /* alinhar no eixo horizontal, no final da linha */
}

.footer span {
  font-size: 1.1rem;
  font-weight: 300;
}
